body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

.background{
   background:linear-gradient(to bottom, #000000bb, #00000022, #000000bb),
   aqua ;
   height: 100vh;
   color: #FFF;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;

}
header{
    text-align: right;
    padding: 20px 20px;

}
.progress-container {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

.progress-bar {
  position: relative;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.progress-bar-fill {
  background-color: #00bcd4;
  width: 70%;
  height: 100%;
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.button a{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.container{
    margin: auto;
    padding: 0 20px;
    
}

.social-icons img{
    margin: auto;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    border:1px solid white;
    overflow: hidden;

}
.footer {
    margin-top: 30px;
    font-size: 16px;
  }